.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrap {
        background: #fff;
        // padding: 20px;
        max-height: 326px;
        width: 421px;
    }

    &__search-input {
        width: 364px;
        height: 47px;
        margin-left: 18px;
        margin-top: 34px;
        border: 1px solid #C1C1C1;
        border-radius: 4px;
        padding-left: 16px;
        font-size: 24px;
        font-family: 'Roboto';
        font-weight: 400;
        line-height: 100%;
    }

    &__products-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 10;
    }

    &__product-item {
        margin-left: 18px;
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        height: auto;
    }

    &__swap-product {
        width: 20px;
        height: 20px;
        cursor: pointer;
        background: url('../images/ui/product_swap.png');
        margin-right: 18px;
    }

    &__product-image {
        min-width: 23px;
        max-width: 37px;
        width: auto;
        height: 50px;
        margin-right: 23px;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 480px) and (max-width: 767px) {
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;

        &__wrap {
            background: #fff;
            // padding: 20px;
            max-height: 366px;
            width: 421px;
        }

        &__search-input {
            width: 320px;
            height: 47px;
            margin-left: 18px;
            margin-top: 34px;
            border: 1px solid #C1C1C1;
            border-radius: 4px;
            padding-left: 16px;
            font-size: 24px;
            font-family: 'Roboto';
            font-weight: 400;
            line-height: 100%;
        }

        &__products-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 10;
        }

        &__product-item {
            margin-left: 18px;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 90%;
            height: auto;
        }

        &__swap-product {
            width: 20px;
            height: 20px;
            cursor: pointer;
            background: url('../images/ui/product_swap.png');
            margin-right: 18px;
        }

        &__product-image {
            min-width: 23px;
            max-width: 37px;
            width: auto;
            height: 50px;
            margin-right: 23px;
        }
    }

}

@media (min-width: 320px) and (max-width: 479px) {
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;

        &__wrap {
            background: #fff;
            // padding: 20px;
            max-height: 366px;
            width: 421px;
        }

        &__search-input {
            width: 320px;
            height: 47px;
            margin-left: 18px;
            margin-top: 34px;
            border: 1px solid #C1C1C1;
            border-radius: 4px;
            padding-left: 16px;
            font-size: 24px;
            font-family: 'Roboto';
            font-weight: 400;
            line-height: 100%;
        }

        &__products-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 10;
        }

        &__product-item {
            margin-left: 18px;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 90%;
            height: auto;
        }

        &__swap-product {
            width: 20px;
            height: 20px;
            cursor: pointer;
            background: url('../images/ui/product_swap.png');
            margin-right: 18px;
        }

        &__product-image {
            min-width: 23px;
            max-width: 37px;
            width: auto;
            height: 50px;
            margin-right: 23px;
        }
    }
}

@media (max-width: 320px) {}